<div class="container-pokemons">
    <div class="search-container">
        <label class="title-search" for="">Listado de Pokemons</label>
            <div class="input-icono">
                <input type="text" [(ngModel)]="idPokemon" (blur)="printList()" (keyup.enter)="onEnter()" placeholder="Buscar">
            </div>
    </div>

    <button class="button-new-pokemon button-pokemon pointer" (click)="showForm()">+ Nuevo</button>
</div>
    <app-pokemon-table #tableElementRef (editEmmitPipe)="editEmmit($event)" (deleteEmmitPipe)="deleteEmmit($event)" [idPokemon]="idPokemon"></app-pokemon-table>
    <app-form #formElementRef *ngIf="showFormPipe" (closeFormPipe)="closeForm($event)" [pokemonToEdit]="pokemonToEdit"></app-form>

