.title-search {
    margin-top: 1rem;
    margin-left: 2rem;
}
.container-pokemons {
    display: flex;
    justify-content: space-between;
}
.search-container {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

.button-new-pokemon {
    width: 6.813rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.input-icono {
    background-image: url('../../../assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 12.5rem;
    padding-left: 28px;
    height: 30px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 3px;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.input-icono input {
    width: 100%;
    font-size: 0.9em;
    border: none;
  }
  .input-icono input:focus {
    outline: none;
  }