  <table>
    <tr>
      <th *ngFor="let titleItem of tableData.titles">{{titleItem}}</th>
    </tr>
    <tr *ngFor="let rowItem of tableData.data; index as i">
        <td>
          {{rowItem.name}}
        </td>
        <td>
          <img width="50px" [src]="rowItem.image">
        </td>
        <td>
          {{rowItem.attack}}
        </td>
        <td>
          {{rowItem.defending}}
        </td>
        <td>
          <img class="pointer" [src]="rowItem.icon[0].uri" (click)="editEmmit(rowItem.id)" alt="">
          <img class="pointer" [src]="rowItem.icon[1].uri" (click)="deleteEmmit(rowItem.id)" alt="">
        </td>
    </tr>  
  </table>  