$blue-pokemomon: #1585E8;

.button-pokemon {
    background-color: $blue-pokemomon;
    color: #fff;
}

.pointer {
    cursor: pointer;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
