.card {
    min-width: 30rem;
    min-height: 20rem;
    margin-top: 5rem;
    background: #fff;
    border: 2px solid #DFCECB;
    .container-buttons {
        display: flex;
        justify-content: center;
    }
}
.container-title {
    display: flex;
    justify-content: center;
}

.margin-top-2 {
    margin-top: 2rem;
}

.container-form {
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}

.container-form-c {
    display: flex;
    align-items: center;
}


.container-form-clindren {
    display: flex;

}

.input-icono {
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 12.5rem;
    padding-left: 28px;
    height: 30px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 3px;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.input-icono input {
    width: 100%;
    font-size: 0.9em;
    border: none;
  }
  .input-icono input:focus {
    outline: none;
  }

  .m-left-20 {
    margin-left: 0.875rem;
  }

  .button-new-pokemon {
    width: 6.813rem;
    height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}


.container-slider {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    max-width: 400px;
    border: PowderBlue 5px solid;
    border-radius: 20px;
    height: 3rem;
    background: black;
    
}

.slider-inside {
    background-color: blue;
    width: 200px;
}

.slider-content{
    width: 100%;
}



mat-slider {
    width: 300px;
    
  }


  ::ng-deep {
    .mat-slider-track-background {
        height: 12px;
        border-radius: 10px;
        background: #000;
    }
    .mat-slider-track-fill {
      height: 12px;
      border-radius: 10px;
      background: #000;
    }

    .mat-slider-thumb {
        background: blue;;
    }
    
  }
