<div class="card">
    <div class="container-title margin-top-2">
        <label for="">Nuevo Pokemon</label>
    </div>
    <div class="container-form margin-top-2">
        <div class="container-form-c">
            <label for="">Nombre</label>
            <div class="input-icono">
                <input type="text" [(ngModel)]="pokemonToEdit.name">
            </div>  
        </div>

        <div class="container-form-clindren ">
            <label for="">Ataque 0</label>

             <mat-slider
             class="mat-slider"
            thumbLabel
            [displayWith]="attackSlider"
            tickInterval="1"
            step="1"
            min="0"
            max="100"
            aria-label="units"
            [(ngModel)]="pokemonToEdit.attack">
            </mat-slider>

            <span>100</span>
        </div>
    </div>

    <div class="container-form m-left-20 margin-top-2">
        <div class="container-form-c">
            <label for="">Image</label>
            <div class="input-icono">
                <input type="text" [(ngModel)]="pokemonToEdit.image">
            </div>            
        </div>

        <div class="container-form-clindren ">
            <label for="">Defensa 0</label>        
            <mat-slider
            class="mat-slider"
           thumbLabel
           [displayWith]="sliderDefense"
           tickInterval="1"
           step="1"
           min="0"
           max="100"
           aria-label="units"
           [(ngModel)]="pokemonToEdit.defense">
           </mat-slider>
            <span>100</span>
        </div>
    </div>

    <div class="container-buttons margin-top-2">
        <button (click)="savePokemon()" class="button-new-pokemon button-pokemon pointer">Guardar</button>
        <button (click)="closeForm()" class="button-new-pokemon button-pokemon pointer">Cancelar</button>
    </div>

</div>